.filter__widges {
    padding:10px;
    width: auto;
    margin: 5px;
}

.category__items {
    background-color: black;
    padding: 5px;
    border-radius: 8px;
    width:80%;
    color:aliceblue;
    font-size: 15px;
    margin: 4px;
}

.search-box {
    width:90%;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.search-box input{
    width: 100%;
    border-width: 0px;
    outline: none;
    padding: 3px;
}